{% extends 'base.html' %}

{% block content %}

      <h1>Open Competencies</h1>
		<h2>Change password:</h2>
		<p>This page allows you to change your password.</p>


		{% if form.errors %}
		<p>Please re-enter your passwords. You either entered the wrong current password, or your new passwords did not match.</p>
		{% endif %}

		<form method="post" action="{% url 'password_change_form' %}">
		  {% csrf_token %}

		  <p>old password: <input type='password' name='old_password'>
		  <p>new password: <input type='password' name='new_password1'>
		  <p>new password: <input type='password' name='new_password2'>
			 


		  <p><input type="submit" value="change password" />
		</form>


{% endblock %}





