{% extends 'base.html' %}

{% block content %}

      <h1>Open Competencies</h1>
		<h2>User profile:</h2>
		<p>This page displays your account information.</p>

		<h3>Username: {{ user.username }}</h3>
		<h4>First Name: {{ user.first_name }}</h4>
		<h4>Last Name: {{ user.last_name }}</h4>
		<p>Email: {{ user.email }}</p>

		<p><a href="{% url 'users:password_change_form' %}">Change password</a><p>

      <p>You have permission to work with the following organizations:</p>
		    <ul>
				{% for organization in editor_orgs %}
			     <li><a href='{% url 'competencies:organization' organization.id %}'>{{ organization.name }}</a></li>
				{% empty %}
				  <li>You do not have permission to work with any organizations.</li>
				{% endfor %}
			 </ul>

{% endblock %}
