{% extends 'base.html' %}

{% block content %}

      <h1>Open Competencies</h1>
		<h2>log in:</h2>
		<p>If you were redirected here, you probably requested a page that requires you to be logged in. If you do not have an account and you are interested in the Open Competencies project, please send a message to ehmatthes@gmail.com.</p>

		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		  {% csrf_token %}

		  <p>{{ form.username.label_tag }}{{ form.username }}
		  <p>{{ form.password.label_tag }}{{ form.password }}

		  <p><input type="submit" value="login" />
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>

{% endblock %}





