{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists the essential understandings for the competency area {{ competency_area }}. The learning targets and performance levels for each essential understanding are also listed.</p>
	 <p><a href='{% url 'competencies:edit_competency_area' competency_area.id %}'>Edit essential understandings</a>
	    | <a href='{% url 'competencies:edit_levels' competency_area.id %}'>Edit levels</a>
	    | <a href='{% url 'competencies:entire_system' school.id %}'>View entire system</a>
	 </p>

	 <h2><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: 
		  {% if competency_area.subdiscipline_area %}
		      <a href='/subdiscipline_areas/{{ competency_area.subdiscipline_area.id }}/'>{{ competency_area.subdiscipline_area }}</a> - 
		  {% endif %}
		  {{ competency_area }}</h2>
	 {% if competency_area.student_friendly %}
	     <h4 class="student_friendly_element">{{ competency_area.student_friendly }}</h4>
	 {% endif %}
	 {% if competency_area.description %}
		  <h4 class="description_element">Description: {{ competency_area.description }}</h4>
	 {% endif %}


	 <ul>
	 {% for ca_level in ca_levels %}
	     <li><b>{{ ca_level.level_type }} Level</b>: {{ ca_level }}</li>
	 {% endfor %}
	 </ul>
	 
	 {% if essential_understandings %}
	     <ul>
	     {% for eu in essential_understandings %}
		      <li><h4><a href='/essential_understandings/{{ eu.id }}/'>{{ eu }}</a></h4></li>
				{% if eu.student_friendly %}
				    <div class="student_friendly_element">{{ eu.student_friendly }}</div>
			   {% endif %}
			   {% if eu.description %}
					 <div class="description_element">Description: {{ eu.description }}</div>
				{% endif %}
				<ul>
				{% for lt in eu.learningtarget_set.all %}
				    <li><div>LT: {{ lt }}</div>
						  {% if lt.student_friendly %}
						      <div class="student_friendly_element">SF: {{ lt.student_friendly }}</div>
						  {% endif %}
						  {% if lt.description %}
								<div class="description_element">Description: {{ lt.description }}</div>
						  {% endif %}
					 </li>
				{% endfor %}
				</ul>
		  {% endfor %}
		  </ul>
	 {% elif user.is_authenticated and school in user.profile.schools.all %}
		  <p>There are no essential understandings for this competency area yet.
	 {% else %}
		  <p>There are no public essential understandings for this competency area yet.
	 {% endif %}
			   
{% endblock %}
