{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists the essential understandings for the competency area {{ competency_area }}. The learning targets and performance levels for each essential understanding are also listed.</p>
	 <p><a href='{% url 'competencies:edit_competency_area' competency_area.id %}'>Edit essential understandings</a>
	    | <a href='{% url 'competencies:edit_levels' competency_area.id %}'>Edit levels</a>
	    | <a href='{% url 'competencies:entire_system' school.id %}'>View entire system</a>
	 </p>

	 <h2><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: 
		  {% if competency_area.subdiscipline_area %}
		      <a href='/subdiscipline_areas/{{ competency_area.subdiscipline_area.id }}/'>{{ competency_area.subdiscipline_area }}</a> - 
		  {% endif %}
		  {{ competency_area }}</h2>

	 <ul>
	 {% for ca_level in ca_levels %}
	     <li><b>{{ ca_level.level_type }} Level</b>: {{ ca_level }}</li>
	 {% endfor %}
	 </ul>
	 
	 {% if essential_understandings %}
	     <ul>
	     {% for eu in essential_understandings %}
		      <li><h4><a href='/essential_understandings/{{ eu.id }}/'>{{ eu }}</a></h4></li>
				<ul>
				{% for lt in eu.learningtarget_set.all %}
				    <li>LT: {{ lt }}</li>
				{% endfor %}
				</ul>
		  {% endfor %}
		  </ul>
	 {% else %}
		  <p>There are no essential understandings for this competency area yet.
	 {% endif %}
			   
{% endblock %}
