{% extends 'base.html' %}

{% block title_extension %} - {{ organization }}{% endblock %}

{% block content %}

    <a href='{% url 'competencies:sa_summary' subject_area.id %}'>view summary</a> |
	 edit |
    <a href='{% url 'competencies:edit_sa_summary_order' subject_area.id %}'>modify order</a> |
	 <a href='{% url 'competencies:sa_summary_pdf' subject_area.id %}'>pdf</a>

	 <h2><a href='{% url 'competencies:organization' organization.id %}'>{{ organization }}</a></h2>
	 <p>Setting an element public sets all elements above it public as well; setting an element private sets all elements below it private also.</p>

	 <form action="" method="post">

		{% csrf_token %}
		{{ sa_form.subject_area }}
		<a href="{% url 'competencies:new_sa' organization.id %}">new {{ organization.alias_sa }}</a>
		<p>public: {{ sa_form.public }}</p>
		<p><input type="submit" value="Save Changes" class="submit_sa_summary btn btn-small btn-info" /></p>

	 <div class="row row-eq-height">
		<div class="span4 lead summary_box grad_std_col"><strong>{{ organization.alias_ca|title }}s</strong></div>
		<div class="span7 lead summary_box pi_col"><strong>{{ organization.alias_eu|title }}s</strong></div>
	 </div>

	 {% for ca, ca_form in zipped_ca_forms %}
	 {% if not ca.subdiscipline_area %}
	   <div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col">
			 <p>{{ ca_form.competency_area }}</p>
			 <p>
				public: {{ ca_form.public }}
				<span class='delete_link'><a href="{% url 'competencies:delete_element' 'CompetencyArea' ca.id %}">delete</a></span>
			 </p>
		  </div>
		  <div class="span7 summary_box pi_col">
				{% for eu, eu_form in zipped_eu_forms %}
				{% if eu.competency_area == ca %}
				  {{ eu_form.essential_understanding }}
				  <p>
					 public: {{ eu_form.public }}
					 <span class='delete_link'><a href="{% url 'competencies:delete_element' 'EssentialUnderstanding' eu.id %}">delete</a></span>
				  </p>
				  
				{% endif %}
				{% endfor %}
				<a href="{% url 'competencies:new_eu' ca_form.my_id %}">new {{ organization.alias_eu }}</a>
		  </div>
		</div>
	 {% endif %}
	 {% endfor %}

	 <div class="row row-eq-height">
		<div class="span4 summary_box grad_std_col"><a href="{% url 'competencies:new_ca' subject_area.id %}">new {{ organization.alias_ca }}</a></div>
		<div class="span7 lead summary_box pi_col">&nbsp</div>
	 </div>

	 <div class='post_sda_save_button'>
		<input type="submit" value="Save Changes" class="submit_sa_summary btn btn-small btn-info" />
	 </div>

	 {% for sda, sda_form in zipped_sda_forms %}
		<div class="row row-eq-height">
		  <div class="span4 lead summary_box sda_col">
			 <strong>{{ sda_form.subdiscipline_area }}</strong>
			 <small>public: {{ sda_form.public }}</small>
			 <span class='delete_link'><a href="{% url 'competencies:delete_element' 'SubdisciplineArea' sda.id %}">delete</a></span>
		  </div>
		  <div class="span7 lead summary_box sda_col">&nbsp</div>
		</div>
		{% for ca, ca_form in zipped_ca_forms %}
		{% if ca.subdiscipline_area == sda %}
	     <div class="row row-eq-height">
			 <div class="span4 summary_box grad_std_col">
				<p>{{ ca_form.competency_area }}</p>
				<p>
				  public: {{ ca_form.public }}
				  <span class='delete_link'><a href="{% url 'competencies:delete_element' 'CompetencyArea' ca.id %}">delete</a></span>
				</p>
			 </div>
			 <div class="span7 summary_box pi_col">
				  {% for eu, eu_form in zipped_eu_forms %}
				  {% if eu.competency_area == ca %}
				        {{ eu_form.essential_understanding }}
				        <p>
							 public: {{ eu_form.public }}
							 <span class='delete_link'><a href="{% url 'competencies:delete_element' 'EssentialUnderstanding' eu.id %}">delete</a></span>
						  </p>
				  {% endif %}
				  {% endfor %}
				  <a href="{% url 'competencies:new_eu' ca_form.my_id %}">new {{ organization.alias_eu }}</a>
			 </div>
		  </div>
		{% endif %}

		{% endfor %}

		<div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col"><a href="{% url 'competencies:new_sda_ca' sda_form.my_id %}">new {{ organization.alias_ca }}</a></div>
		  <div class="span7 lead summary_box pi_col">&nbsp</div>
		</div>

		<div class='post_sda_save_button'>
		  <input type="submit" value="Save Changes" class="submit_sa_summary btn btn-small btn-info" />
		</div>

	 {% endfor %}	 

		<div class="row row-eq-height">
		  <div class="span4 lead summary_box sda_col"><a href="{% url 'competencies:new_sda' subject_area.id %}">new {{ organization.alias_sda }}</a></div>
		  <div class="span7 lead summary_box sda_col">&nbsp</div>
		</div>

	 </form>

    <a href='{% url 'competencies:sa_summary' subject_area.id %}'>view summary</a> |
	 edit |
    <a href='{% url 'competencies:edit_sa_summary_order' subject_area.id %}'>modify order</a> |
	 <a href='{% url 'competencies:sa_summary_pdf' subject_area.id %}'>pdf</a>

{% endblock %}
