{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='/schools/{{ school.id }}/'>{{ school.name }}</a></h2>
	 <h3><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a></h3>

	 <p>This page allows you to edit the subdiscipline areas for {{ subject_area }}.</p>

	 <form method='post' action=''>
		  {% csrf_token %}
		  {{ sda_formset.as_p }}
		  <input type='submit' value='Save Changes' />
	 </form>

{% endblock %}
