<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Open Competencies</h1>
	 <p><a href="{% url 'competencies:index' %}">Home</a> | <a href="{% url 'competencies:schools' %}">Schools</a> | <a href='/admin'>Admin Site</a>

	 <h2>Edit {{ school }}'s system</h2>
	 <p>This page allows you to edit your school's entire competency system at once.  This page will be replaced by individual pages for editing each level of the system's hierarchy.</p>
	 
	 <!--
	 <form action="/schools/{{ school.id }}/edit_system/" method="post">
		{% csrf_token %}

		{# subject areas #}
		<ul>
		{% for sa, sdas in sa_sdas.items %}
		    <li><h3>Subject Area: <input type="text" name="subject_area-{{ sa.id }}" value="{{ sa.subject_area }}" /></h3></li>
			 {# subdiscipline areas #}
			 <ul>
			 {% for sda in sdas %}
			     <li><h4>Subdiscipline Area: <input type="text" name="subdiscipline_area-{{ sda.id }}" value="{{ sda.subdiscipline_area }}" /></h4></li>
			 {% endfor %}
			 {# Add a blank box for a new sda, appended with id of parent subject area #}
		    <li><h4>New Subdiscipline Area: <input type="text" name="new_subdiscipline_area-{{ sa.id }}" value="" /></h4></li>
			 </ul>
		{% endfor %}
		</ul>

		<input type="submit" value="Save Changes" />
	 </form>

	 <form action="/schools/{{ school.id }}/edit_system/" method="post">
		  {% csrf_token %}
		  {{ sa_form.as_p }}
		  <input type="submit" value="Save Changes" />
	 </form>

	 {% for sa in school.subjectarea_set.all %}
	     <p>{{ sa }}
	 {% endfor %}
	 -->

	 <form method="post" action="">
		  {{ sa_formset.as_p }}
	 </form>


	 {% for sa, sda_formset in sda_formsets.items %}
	     <form method="post" action="">
			   <h3>{{ sa }}:</h3> {{ sda_formset.as_p }}
		  </form>
	 {% endfor %}

  </body>
</html>

