{% extends 'base.html' %}

{% block title_extension %} - Pathways{% endblock %}

{% block content %}

    <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a>: Pathways</h2>

	 <p>A pathway is a set of related learning targets. One use of a pathway is to represent a given career. For example, a pathway might represent all of the learning targets that should be mastered in order to become a software developer.<p>
    <p>This page allows you to set the visibility of each pathway.</p>
	 <p><a href='{% url 'competencies:pathways' school.id %}'>View pathways</a>
	 </p>

	 <ul>
	 {% for pathway in pathways %}
	     <li><h5>
	     {% if pathway.public %}
		      [ public -
		      <a href='{% url 'competencies:change_pw_visibility' school_id=school.id pathway_pk=pathway.pk visibility_mode='private' %}'>set private</a> ]
		  {% else %}
				[ private -
		      <a href='{% url 'competencies:change_pw_visibility' school_id=school.id pathway_pk=pathway.pk visibility_mode='public' %}'>set public</a> ]
		  {% endif %}
	     <a href='{% url 'competencies:pathway' pathway.id %}'>{{ pathway }}</a></h5>
		  </li>


	 {% endfor %}
	 </ul>

{% endblock %}
