{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='/schools/{{ school.id }}/'>{{ school.name }}</a></h2>
	 <h3><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: <a href='/subdiscipline_areas/{{ subdiscipline_area.id }}/'>{{ subdiscipline_area }}</a></h3>

	 <p>This page allows you to edit the competency areas for {{ subdiscipline_area }}.</p>

	 <h4>Competency areas for <a href='/subdiscipline_areas/{{ subdiscipline_area.id }}/'>{{ subdiscipline_area }}</a>:</h4>
	 <form method='post' action=''>
		  {% csrf_token %}
		  {{ sda_ca_formset.as_p }}
		  <input type='submit' value='Save Changes' />
	 </form>

{% endblock %}
