{% extends 'base.html' %}

{% block title_extension %} - {{ organization }}{% endblock %}

{% block content %}

    <a href='{% url 'competencies:edit_sa_summary' subject_area.id %}'>edit</a> |
    <a href='{% url 'competencies:sa_summary' subject_area.id %}'>view summary</a> |
	 <a href='{% url 'competencies:sa_summary_pdf' subject_area.id %}'>pdf</a>

	 <h2><a href='{% url 'competencies:organization' organization.id %}'>{{ organization }}</a></h2>

	 <h2>{{ subject_area }}</h2>

	 <div class="row row-eq-height">
		<div class="span4 lead summary_box grad_std_col"><strong>{{ organization.alias_ca|title }}s</strong></div>
		<div class="span7 lead summary_box pi_col"><strong>{{ organization.alias_eu|title }}s</strong></div>
	 </div>

	 {% for ca in cas %}
	 {% if not ca.subdiscipline_area %}
	   <div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col">
			 <div class='ordering_box ordering_box_cas'>
				<div class='up_arrow'><a href="{% url 'competencies:move_element' 'CompetencyArea' ca.id 'up' subject_area.id %}">&#9650</a></div>
				<div class='down_arrow'><a href="{% url 'competencies:move_element' 'CompetencyArea' ca.id 'down' subject_area.id %}">&#9660</a></div>
				<div class='ordering_element'>{{ ca.competency_area }}</div>
			 </div>
		  </div>
		  <div class="span7 summary_box pi_col">
			 <ul>
				{% for eu in eus %}
				{% if eu.competency_area == ca %}
				  <div class='ordering_box'>
					 <div class='up_arrow'><a href="{% url 'competencies:move_element' 'EssentialUnderstanding' eu.id 'up' subject_area.id %}">&#9650</a></div>
					 <div class='down_arrow'><a href="{% url 'competencies:move_element' 'EssentialUnderstanding' eu.id 'down' subject_area.id %}">&#9660</a></div>
					 <div class='ordering_element'>{{ eu.essential_understanding }}</div>
				  </div>
				{% endif %}
				{% endfor %}
			 </ul>
		  </div>
		</div>
	 {% endif %}
	 {% endfor %}

	 {% for sda in sdas %}
		<div class="row row-eq-height">
		  <div class="span4 lead summary_box sda_col"><strong>{{ sda }}</strong></div>
		  <div class="span7 lead summary_box sda_col">&nbsp</div>
		</div>
		{% for ca in cas %}
		{% if ca.subdiscipline_area == sda %}
	     <div class="row row-eq-height">
			 <div class="span4 summary_box grad_std_col">
				<div class='ordering_box ordering_box_cas'>
				  <div class='up_arrow'><a href="{% url 'competencies:move_element' 'CompetencyArea' ca.id 'up' subject_area.id %}">&#9650</a></div>
				  <div class='down_arrow'><a href="{% url 'competencies:move_element' 'CompetencyArea' ca.id 'down' subject_area.id %}">&#9660</a></div>
				  <div class='ordering_element'>{{ ca.competency_area }}</div>
				</div>
			 </div>
			 <div class="span7 summary_box pi_col">
				<ul>
				  {% for eu in eus %}
				  {% if eu.competency_area == ca %}
				    <div class='ordering_box'>
					   <div class='up_arrow'><a href="{% url 'competencies:move_element' 'EssentialUnderstanding' eu.id 'up' subject_area.id %}">&#9650</a></div>
						<div class='down_arrow'><a href="{% url 'competencies:move_element' 'EssentialUnderstanding' eu.id 'down' subject_area.id %}">&#9660</a></div>
						<div class='ordering_element'>{{ eu.essential_understanding }}</div>
					 </div>
				  {% endif %}
				  {% endfor %}
				</ul>
			 </div>
		  </div>
		{% endif %}
		{% endfor %}
	 {% endfor %}	 


	 <p class="edit_view_link">
		<a href='{% url 'competencies:edit_sa_summary' subject_area.id %}'>edit</a> |
		<a href='{% url 'competencies:sa_summary' subject_area.id %}'>view summary</a> |
		<a href='{% url 'competencies:sa_summary_pdf' subject_area.id %}'>pdf</a>
	 </p>

{% endblock %}
