{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a></h2>
	 <p>This page shows the entire competency system for <a href='{% url 'competencies:school' school.id %}'</a>{{ school }}</a>.</p>
	 <p><a href='{% url 'competencies:edit_order' school.id %}'>Edit order</a>
	 | <a href='{% url 'competencies:edit_visibility' school.id %}'>Edit visibility</a>
	 </p>

	 {% if subject_areas %}

		  {# ---  subject areas --- #}
	     <ul>
	     {% for sa, sdas in sa_sdas.items %}
		      <li><h3><a href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>

				{# competency areas for the general subject area #}
				{# requires an empty nesting level (blank sda) #}
				<ul>
				    <ul>
					 {% for new_sa, cas in sa_cas.items %}
					     {% if new_sa == sa %}
					         {% for ca in cas %}
					             <li><h5>Competency: <a href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>

									 {# --- levels --- #}
									 <ul>
									 {% for new_ca, levels in ca_levels.items %}
									     {% if new_ca == ca %}
									         {% for level in levels %}
									             <li><b>{{ level.level_type }} Level</b>: {{ level }}</li>
												{% endfor %}
									     {% endif %}
									 {% endfor %}
									 </ul>

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             <li>EU: <a href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             <li>LT: {{ lt }}</li>
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>
				</ul>

				{# ---  subdiscipline areas --- #}
				<ul>
				{% for sda in sdas %}
				    <li><h4><a href='/subdiscipline_areas/{{ sda.id }}/'>{{ sda }}</a></h4></li>

					 {# --- competency areas --- #}
					 <ul>
					 {% for new_sda, cas in sda_cas.items %}
					     {% if new_sda == sda %}
					         {% for ca in cas %}
					             <li><h5>Competency: <a href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>

									 {# --- levels --- #}
									 <ul>
									 {% for new_ca, levels in ca_levels.items %}
									     {% if new_ca == ca %}
									         {% for level in levels %}
									             <li><b>{{ level.level_type }} Level</b>: {{ level }}</li>
												{% endfor %}
									     {% endif %}
									 {% endfor %}
									 </ul>

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             <li>EU: <a href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             <li>LT: {{ lt }}</li>
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>

				{% endfor %}
			   </ul>

	     {% endfor %}
        </ul>

	 {% else %}
		  <p>This school does not have any subject areas yet. You may want to <a href="/schools/{{ school.id }}/fork">fork</a> another school's competency system instead of starting from scratch.</p>
    {% endif %}

{% endblock %}
