{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists the learning targets for a single essential understanding.</p>

	 <h2><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: <a href='/subdiscipline_areas/{{ competency_area.subdiscipline_area.id }}/'>{{ competency_area.subdiscipline_area }}</a> - <a href='/competency_areas/{{ competency_area.id }}/'>{{ competency_area }}</a></h2>
	 <h3>{{ essential_understanding }}</h3>

	 {% if learning_targets %}
	     <ul>
		  {% for lt in learning_targets %}
		      <li><h4>{{ lt }}</h4></li>
		  {% endfor %}
		  </ul>
	 {% else %}
		  <p>This essential understanding does not have any learning targets defined yet.</p>
	 {% endif %}
			   
{% endblock %}
