{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists the learning targets for a single essential understanding.</p>
	 <p><a href='{% url 'competencies:edit_essential_understanding' essential_understanding.id %}'>Edit learning targets</a>
	    | <a href='{% url 'competencies:entire_system' school.id %}'>View entire system</a>
	 </p>

	 <h2><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: 
		{% if competency_area.subdiscipline_area %}
		    <a href='/subdiscipline_areas/{{ competency_area.subdiscipline_area.id }}/'>{{ competency_area.subdiscipline_area }}</a> - 
		{% endif %}
		<a href='/competency_areas/{{ competency_area.id }}/'>{{ competency_area }}</a></h2>
	 {% if competency_area.student_friendly %}
	     <h4 class="student_friendly_element">{{ competency_area.student_friendly }}</h4>
	 {% endif %}
	 {% if competency_area.description %}
		  <h4 class="description_element">Description: {{ competency_area.description }}</h4>
	 {% endif %}

				{# --- levels --- #}
				<ul>
				{% for level in ca_levels %}
				    <li><b>{{ level.level_type }} Level</b>: {{ level }}</li>
			   {% endfor %}
				</ul>

	 <h4>{{ essential_understanding }}</h4>
	 {% if essential_understanding.student_friendly %}
	     <h4 class="student_friendly_element">SF: {{ essential_understanding.student_friendly }}</h4>
	 {% endif %}
	 {% if essential_understanding.description %}
		  <div class="description_element">Description: {{ essential_understanding.description }}</div>
	 {% endif %}

	 {% if learning_targets %}
	     <ul>
		  {% for lt in learning_targets %}
		      <li><div>{{ lt }}</div>
				    {% if lt.student_friendly %}
				        <div class="student_friendly_element">SF: {{ lt.student_friendly }}</div>
				    {% endif %}
					 {% if lt.description %}
						  <div class="description_element">Description: {{ lt.description }}</div>
				    {% endif %}
				</li>
		  {% endfor %}
		  </ul>
	 {% elif user.is_authenticated and school in user.profile.schools.all %}
		  <p>This essential understanding does not have any learning targets defined yet.</p>
	 {% else %}
		  <p>This essential understanding does not have any public learning targets defined yet.</p>
	 {% endif %}
			   
{% endblock %}
