{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists the learning targets for a single essential understanding.</p>
	 <p><a href='{% url 'competencies:edit_essential_understanding' essential_understanding.id %}'>Edit learning targets</a>
	    | <a href='{% url 'competencies:entire_system' school.id %}'>View entire system</a>
	 </p>

	 <h2><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>: 
		{% if competency_area.subdiscipline_area %}
		    <a href='/subdiscipline_areas/{{ competency_area.subdiscipline_area.id }}/'>{{ competency_area.subdiscipline_area }}</a> - 
		{% endif %}
		<a href='/competency_areas/{{ competency_area.id }}/'>{{ competency_area }}</a></h2>

				{# --- levels --- #}
				<ul>
				{% for level in ca_levels %}
				    <li><b>{{ level.level_type }} Level</b>: {{ level }}</li>
			   {% endfor %}
				</ul>

	 <h3>{{ essential_understanding }}</h3>

	 {% if learning_targets %}
	     <ul>
		  {% for lt in learning_targets %}
		      <li><h4>{{ lt }}</h4></li>
		  {% endfor %}
		  </ul>
	 {% else %}
		  <p>This essential understanding does not have any learning targets defined yet.</p>
	 {% endif %}
			   
{% endblock %}
