{% extends 'base.html' %}

{% block title_extension %} - {{ empty_school }}{% endblock %}

{% block content %}

	 <h2><a href='/schools/{{ empty_school.id }}/'>{{ empty_school.name }}</a> - Fork an existing school's competency system</h2>
	 <p>{{ empty_school }} currently has an empty competency system.  Rather than starting from scratch, you can choose to "fork" an existing school's competency system.  This means you will start out with an exact copy of that school's current system, from which you can begin to make your own modifications.</p>

	 <h3>To fork an existing school, click on the link next to that school.</h3>
	 <h3>Forkable schools:</h3>

	 <ul>
	 {% for forkable_school in forkable_schools %}
	     <li>{{ forkable_school }} - <a href="/schools/{{ empty_school.id }}/fork/{{ forkable_school.id }}">fork this school</a></li>
	 {% endfor %}
	 </ul>

{% endblock %}
