<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Open Competencies</h1>
	 <p><a href="{% url 'competencies:index' %}">Home</a> | <a href="{% url 'competencies:schools' %}">Schools</a> | <a href='/admin'>Admin Site</a>

	 <h2>{{ empty_school.name }} - Fork an existing school's competency system</h2>
	 <p>{{ empty_school }} currently has an empty competency system.  Rather than starting from scratch, you can choose to "fork" an existing school's competency system.  This means you will start out with an exact copy of that school's current system, from which you can begin to make your own modifications.</p>

	 <h3>To fork an existing school, simply click on that school.  You will see a confirmation that the forking was successful, and then you will be able to view your school's new system.</h3>
	 <h3>Forkable schools:</h3>

	 <ul>
	 {% for forkable_school in forkable_schools %}
	     <li><a href="/schools/{{ empty_school.id }}/fork/{{ forkable_school.id }}">{{ forkable_school }}</a></li>
	 {% endfor %}
	 </ul>


  </body>
</html>

