{% extends 'base.html' %}

{% block content %}

      <h1>Welcome to Open Competencies</h1>
		<h2>(pre-alpha demo version)</h2>
		<p>To kick the tires, which are very tiny and wobbly at this early stage, click on the link below to view existing schools.</p>
		<p>Poke around the existing schools briefly, then go back and create your own school.  If you create your own school, you will be able to fork an existing school's system.  This is a demo of the first main feature of the Open Competencies project.</p>
		<p>If you are a developer, you can check out the code from <a href="https://github.com/openlearningtools/opencompetencies">github</a>. You can share <a href="https://github.com/openlearningtools/opencompetencies/issues/2">feedback</a> there as well.</p> 
		<h3><a href="schools">View competencies by school</a></h3>
		{# Need to implement: <h3><a href="entire_system">View entire competency system</a></h3> #}

{% endblock %}
