{% extends 'base.html' %}

{% block content %}

      <h1>Welcome to Open Competencies</h1>
		<h2>(pre-alpha demo version)</h2>

		<p>This is a bare-bones demonstration of what I'd like Open Competencies to be.  Please kick the tires a bit, and share some <a href="https://github.com/openlearningtools/opencompetencies/issues/2">feedback</a> if you'd like to see this project fully developed.</p>

		<p>You can start by looking at some sample competencies from <a href='{% url 'competencies:school' sample_school.id %}'>Sample High School</a>. Then go back and <a href='{% url 'competencies:schools' %}'>create your own school</a>; once you create your own school, you will be able to fork an existing school's system.  This forking behavior is one of the core features of the Open Competencies project.</p>

		<p>You can also check out some sample pathways. A pathway is a collection of related elements of the competency system. You can check out a pathway that represents <a href='{% url 'competencies:pathway' pw_min_hs_grad.id %}'>minimum graduation requirements</a> for high school students, and a pathway that showing what a student who wants to become a <a href='{% url 'competencies:pathway' pw_physicist.id %}'>physicist</a> should focus on. This is another main feature of Open Competencies: the ability to identify different graduation requirements for individual students, based on their post-high school plans.</p>

		<p>If you are a developer, you can check out the code from <a href="https://github.com/openlearningtools/opencompetencies">github</a>. You can share <a href="https://github.com/openlearningtools/opencompetencies/issues/2">feedback</a> there as well.</p>

		<p>If you'd like to get in touch directly, you can find me on twitter <a href='https://twitter.com/ehmatthes'>@ehmatthes</a>, or you can email me at ehmatthes at gmail.</p> 

		<h3><a href='{% url 'competencies:school' sample_school.id %}'>View competencies for Sample High School</a></h3>

{% endblock %}





