{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='/organizations/{{ school.id }}/'>{{ school.name }}</a></h2>
	 <h3><a href='/sa_summary/{{ sa.id }}/'>{{ sa.subject_area }}</a></h3>
	 <h3>{{ ca.competency_area }}</h3>
	 <p>This page allows you to create a new performance indicator.</p>

	 <form method='post' action=''>
		  {% csrf_token %}
		  {{ pi_form.as_p }}
		  <input type='submit' value='Add new performance indicator' />
	 </form>

{% endblock %}
