{% extends 'base.html' %}

{% block title_extension %} - Pathways{% endblock %}

{% block content %}

    <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a>: Pathways</h2>

	 <p>A pathway is a set of related learning targets. One use of a pathway is to represent a given career. For example, a pathway might represent all of the learning targets that should be mastered in order to become a software developer.<p>
	 <p><a href='{% url 'competencies:create_pathway' school.id %}'>Create a new pathway</a>
	 | <a href='{% url 'competencies:edit_pw_visibility' school.id %}'>Edit visibility</a>
	 </p>

    {% if pathways %}
	     <ul>
    	 {% for pathway in pathways %}
    	     <li><h5><a href='{% url 'competencies:pathway' pathway.id %}'>{{ pathway }}</a></h5></li>
    	 {% endfor %}
    	 </ul>
	 {% elif user.is_authenticated and school in user.userprofile.schools.all %}
		  <p>This school does not have any pathways defined yet.</p>
	 {% else %}
		  <p>This school does not have any public pathways defined yet.</p>
	 {% endif %}

{% endblock %}
