{% extends 'base.html' %}

{% block title_extension %} - Schools{% endblock %}

{% block content %}

    <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a> - <a href='{% url 'competencies:pathways' school.id %}'>Pathway</a>: {{ pathway }}</h2>

	 <h3>Pathway Description: </h3>
	 <p>All elements of the current pathway, {{ pathway }}, are shown in green.</p>
	 <p><a href='{% url 'competencies:pathways' school.id %}'>Current pathways</a>
	    | <a href='{% url 'competencies:edit_pathway_subject_areas' pathway.id %}'>Edit subject areas</a>
	 </p>

	 {% if subject_areas %}

		  {# ---  subject areas --- #}
	     <ul>
	     {% for sa, sdas in sa_sdas.items %}
		      {% if sa in pathway.subject_areas.all %}
		          <li class='current_pathway'><h3 class='current_pathway'><a class='current_pathway' href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>
				{% else %}
		          <li><h3><a href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>
				{% endif %}

<!--
		      <li><h3>{% if sa in pathway.subject_areas.all %}<style="class: current_pathway">{% endif %}
					 <a href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a>
				{% if sa in pathway.subject_areas.all %}</style>{% endif %}</h3></li>
-->
				{# competency areas for the general subject area #}
				{# requires an empty nesting level (blank sda) #}
				<ul>
				    <ul>
					 {% for new_sa, cas in sa_cas.items %}
					     {% if new_sa == sa %}
					         {% for ca in cas %}
					             <li><h5><a href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             <li><a href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             <li>{{ lt }}</li>
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>
				</ul>

				{# ---  subdiscipline areas --- #}
				<ul>
				{% for sda in sdas %}
				    <li><h4><a href='/subdiscipline_areas/{{ sda.id }}/'>{{ sda }}</a></h4></li>

					 {# --- competency areas --- #}
					 <ul>
					 {% for new_sda, cas in sda_cas.items %}
					     {% if new_sda == sda %}
					         {% for ca in cas %}
					             <li><h5><a href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             <li><a href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             <li>{{ lt }}</li>
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>

				{% endfor %}
			   </ul>

	     {% endfor %}
        </ul>

	 {% else %}
		  <p>This school does not have any subject areas yet. You may want to <a href="/schools/{{ school.id }}/fork">fork</a> another school's competency system instead of starting from scratch.</p>
    {% endif %}




{% endblock %}
