{% extends 'base.html' %}

{% block title_extension %} - Schools{% endblock %}

{% block content %}

    <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a> - Pathway: {{ pathway }}</h2>

	 <h3>Pathway Description: </h3>
	 <p>All elements of the current pathway, {{ pathway }}, are shown in green.</p>
	 <p><a href='{% url 'competencies:pathways' school.id %}'>Current pathways</a>
	    | <a href='{% url 'competencies:edit_pathway' pathway.id %}'>Edit pathway</a>
	 </p>

	 {% if subject_areas %}

		  {# ---  subject areas --- #}
	     <ul>
	     {% for sa, sdas in sa_sdas.items %}
		      {% if sa in pathway.subject_areas.all %}
		          <li><h3><a class='current_pathway' href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>
				{% else %}
		          <li><h3><a class='off_pathway' href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>
				{% endif %}

				{# competency areas for the general subject area #}
				{# requires an empty nesting level (blank sda) #}
				<ul>
				    <ul>
					 {% for new_sa, cas in sa_cas.items %}
					     {% if new_sa == sa %}
					         {% for ca in cas %}
					             {% if ca in pathway.competency_areas.all %}
					                 <li><h5><a class='current_pathway' href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>
									 {% else %}
					                 <li><h5><a class='off_pathway' href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>
									 {% endif %}

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             {% if eu in pathway.essential_understandings.all %}
									                 <li><a class='current_pathway' href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>
													 {% else %}
									                 <li><a class='off_pathway' href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>														  
													 {% endif %}

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             {% if lt in pathway.learning_targets.all %}
													                 <li class='current_pathway'>{{ lt }}</li>
																    {% else %}
													                 <li class='off_pathway'>{{ lt }}</li>																		  
																	 {% endif %}
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>
				</ul>

				{# ---  subdiscipline areas --- #}
				<ul>
				{% for sda in sdas %}
				    {% if sda in pathway.subdiscipline_areas.all %}
				        <li><h4><a class='current_pathway' href='/subdiscipline_areas/{{ sda.id }}/'>{{ sda }}</a></h4></li>				
				    {% else %}
				        <li><h4><a class='off_pathway' href='/subdiscipline_areas/{{ sda.id }}/'>{{ sda }}</a></h4></li>
				    {% endif %}

					 {# --- competency areas --- #}
					 <ul>
					 {% for new_sda, cas in sda_cas.items %}
					     {% if new_sda == sda %}
					         {% for ca in cas %}
					             {% if ca in pathway.competency_areas.all %}
					                 <li><h5><a class='current_pathway' href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>
									 {% else %}
					                 <li><h5><a class='off_pathway' href='{% url 'competencies:competency_area' ca.id %}'>{{ ca }}</a></h5></li>
									 {% endif %}

									 {# --- essential understandings --- #}
									 <ul>
									 {% for new_ca, eus in ca_eus.items %}
									     {% if new_ca == ca %}
									         {% for eu in eus %}
									             {% if eu in pathway.essential_understandings.all %}
									                 <li><a class='current_pathway' href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>
													 {% else %}
									                 <li><a class='off_pathway' href='{% url 'competencies:essential_understanding' eu.id %}'>{{ eu }}</a></li>														  
													 {% endif %}

													 {# --- learning targets --- #}
													 <ul>
													 {% for new_eu, lts in eu_lts.items %}
													     {% if new_eu == eu %}
													         {% for lt in lts %}
													             {% if lt in pathway.learning_targets.all %}
													                 <li class='current_pathway'>{{ lt }}</li>
																    {% else %}
													                 <li class='off_pathway'>{{ lt }}</li>																		  
																	 {% endif %}
															   {% endfor %}
														  {% endif %}
													 {% endfor %}
													 </ul>

												{% endfor %}
										  {% endif %}
									 {% endfor %}
									 </ul>

								{% endfor %}
						  {% endif %}
					 {% endfor %}
					 </ul>

				{% endfor %}
			   </ul>

	     {% endfor %}
        </ul>

	 {% else %}
		  <p>This school does not have any subject areas yet. You may want to <a href="/schools/{{ school.id }}/fork">fork</a> another school's competency system instead of starting from scratch.</p>
    {% endif %}




{% endblock %}
