{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a></h2>
	 <p>This page shows a summary of the graduation standards and performance indicators for a single subject area.</p>

	 <h2>{{ subject_area }}</h2>

	 <div class="row row-eq-height">
		<div class="span4 lead summary_box grad_std_col">Graduation Standards</div>
		<div class="span7 lead summary_box pi_col">Performance Indicators</div>
	 </div>

	 {% for ca, eus in ca_eus.items %}
	   <div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col">
			 <p class="lead">{{ ca.phrase }}</p>
			 <p>{{ ca.competency_area }}</p>
		  </div>
		  <div class="span7 summary_box pi_col">
			 <ol>
				{% for eu in eus %}
				  <li>{{ eu.essential_understanding }}</li>
				{% endfor %}
			 </ol>
		  </div>
		</div>
	 {% endfor %}


{% endblock %}
