{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='{% url 'competencies:school' school.id %}'>{{ school }}</a></h2>

	 <h2>{{ subject_area }}</h2>

	 <div class="row row-eq-height">
		<div class="span4 lead summary_box grad_std_col"><strong>Graduation Standards</strong></div>
		<div class="span7 lead summary_box pi_col"><strong>Performance Indicators</strong></div>
	 </div>

	 {% for grad_std, eus in grad_std_eus.items %}
	   <div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col">
			 <p class="lead">{{ grad_std.phrase }}</p>
			 <p>{{ grad_std.competency_area }}</p>
		  </div>
		  <div class="span7 summary_box pi_col">
			 <ul>
				{% for eu in eus %}
				  <li>{{ eu.essential_understanding }}</li>
				{% endfor %}
			 </ul>
		  </div>
		</div>
	 {% endfor %}

	 {% for sda, grad_stds in sda_grad_stds.items %}
		<div class="row row-eq-height">
		  <div class="span4 lead summary_box sda_col"><strong>{{ sda }}</strong></div>
		  <div class="span7 lead summary_box sda_col">&nbsp</div>
		</div>
		{% for grad_std in grad_stds %}
	     <div class="row row-eq-height">
			 <div class="span4 summary_box grad_std_col">
				<p class="lead">{{ grad_std.phrase }}</p>
				<p>{{ grad_std.competency_area }}</p>
			 </div>
			 <div class="span7 summary_box pi_col">
				<ul>
				  {% for cand_grad_std, eus in sda_grad_std_eus.items %}
				    {% if cand_grad_std == grad_std %}
				      {% for eu in eus %}
				        <li>{{ eu.essential_understanding }}</li>
						{% endfor %}
					 {% endif %}
				  {% endfor %}
				</ul>
			 </div>
		  </div>
		{% endfor %}
	 {% endfor %}




	 <p class="edit_view_link">
		<a href='{% url 'competencies:edit_sa_summary' subject_area.id %}'>edit</a>
	 </p>

{% endblock %}
