{% extends 'base.html' %}

{% block title_extension %} - {{ organization }}{% endblock %}

{% block content %}

	 <h2><a href='{% url 'competencies:organization' organization.id %}'>{{ organization }}</a></h2>

	 <h2>{{ subject_area }}</h2>

	 <div class="row row-eq-height">
		<div class="span4 lead summary_box grad_std_col"><strong>{{ organization.alias_ca|title }}s</strong></div>
		<div class="span7 lead summary_box pi_col"><strong>{{ organization.alias_eu|title }}s</strong></div>
	 </div>

	 {% for ca in cas %}
	 {% if not ca.subdiscipline_area %}
	   <div class="row row-eq-height">
		  <div class="span4 summary_box grad_std_col">
			 <p>{{ ca.competency_area }}</p>
		  </div>
		  <div class="span7 summary_box pi_col">
			 <ul>
				{% for eu in eus %}
				{% if eu.competency_area == ca %}
				  <li>{{ eu.essential_understanding }}</li>
				{% endif %}
				{% endfor %}
			 </ul>
		  </div>
		</div>
	 {% endif %}
	 {% endfor %}






	 <p class="edit_view_link">
		<a href='{% url 'competencies:edit_sa_summary' subject_area.id %}'>edit</a>
	 </p>

{% endblock %}
