<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Open Competencies</h1>
	 <p><a href="{% url 'competencies:index' %}">Home</a> | <a href="{% url 'competencies:schools' %}">Schools</a> | <a href='/admin'>Admin Site</a>

	 <h2>{{ school.name }}</h2>
	 <p>This page shows the subject areas for {{ school }}. Click on any subject area to see the subdiscipline areas for that subject area.</p>
	 <p><a href="/schools/{{ school.id }}/edit_system/">Edit {{ school }}'s competency system</a></p>

	 {# Loop through subject areas. #}

	 {% if school.subjectarea_set.all %}
	     <ul>
	     {% for sa in school.subjectarea_set.all %}
		      <li><h3><a href='/subject_areas/{{ sa.id }}/'>{{ sa }}</a></h3></li>
	     {% endfor %}
        </ul>
	 {% else %}
		  <p>This school does not have any subject areas yet. You may want to <a href="/schools/{{ school.id }}/fork">fork</a> another school's competency system instead of starting from scratch.</p>
    {% endif %}

  </body>
</html>

