<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Open Competencies</h1>
	 <p><a href="{% url 'competencies:index' %}">Home</a> | <a href="{% url 'competencies:schools' %}">Schools</a> | <a href='/admin'>Admin Site</a>

	 <h2>Click on any school to begin exploring its competency system:</h2>
	 {% if schools %}
	   {% for school in schools %}
        <h3><a href='/schools/{{ school.id }}/'>{{ school.name }}</a></h3>
		{% endfor %}
    {% else %}
		<h3>No schools have been created yet.</h3>
    {% endif %}

  </body>
</html>

