{% extends 'base.html' %}

{% block title_extension %} - Schools{% endblock %}

{% block content %}

	 <h2>Click on any school to begin exploring its competency system.</h2>
	 {% if schools %}
	   <ul>
	   {% for school in schools %}
        <li><h3><a href='/schools/{{ school.id }}/'>{{ school.name }}</a></h3></li>
		{% endfor %}
		</ul>
    {% else %}
		<h3>No schools have been created yet.</h3>
    {% endif %}

	 <h3>You may also create a new school, with the option of forking an existing school's competency system.</h3>
	 <form action="/new_school/" method="post">
		  {% csrf_token %}
		      <p>Name of new school:
		      <input type="text" name="new_school_name" size="50" /></p>
				<input type="submit" value="Submit" />
	 </form>

{% endblock %}
