<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Open Competencies</h1>
	 <p><a href="{% url 'competencies:index' %}">Home</a> | <a href="{% url 'competencies:schools' %}">Schools</a> | <a href='/admin'>Admin Site</a>

	 <h2>{{ school.name }}</h2>
	 <p>This page shows the subject areas, and subdiscipline areas for {{ school }}. Click on any subject area to see the competency areas for that subject area.</p>

	 {# Loop through subject areas; within each subject area, loop through subdispline areas. #}

    {% if subject_area_subdiscipline_areas %}
		<ul>
		{% for subject_area, subdiscipline_areas in subject_area_subdiscipline_areas.items %}
		  <li><h3><a href='subject_area/{{ subject_area.id }}'>{{ subject_area }}</a></h3></li>
		    {% if subdiscipline_areas %}
		      <ul>
			   {% for subdiscipline_area in subdiscipline_areas %}
		        <li>{{ subdiscipline_area }}</li>
			   {% endfor %}
			   </ul>
			 {% endif %}
		{% endfor %}
	   </ul>
    {% else %}
		<p>This school does not have any subject areas yet.</p>
	 {% endif %}


  </body>
</html>

