{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href="/schools/{{ school.id }}">{{ school.name }}</a></h2>

	 <p>This page lists all of the subdiscipline areas for {{ subject_area }}.  The competency areas for the general subject, and for each subdiscipline area are shown as well.</p>
	 <p><a href='/edit_subject_area/{{ subject_area.id }}/'>Edit subdiscipline areas</a></p>

	 <h2>{{ subject_area }}</h2>

	 {% if subject_area.subdisciplinearea_set.all %}
	     <ul>
			   {# Show general competencies not associated with any sda: #}
				<ul>
				{% for ca in sa_competency_areas %}
				    <li><h4><a href='/competency_areas/{{ ca.id }}/'>{{ ca }}</a></h4></li>
				{% endfor %}
			   </ul>
		  {% for sda in subject_area.subdisciplinearea_set.all %}
		      <li><h3><a href='/subdiscipline_areas/{{ sda.id }}/'>{{ sda }}</a></h3></li>
				<ul>
				{% for ca in sda.competencyarea_set.all %}
				    <li><h4><a href='/competency_areas/{{ ca.id }}/'>{{ ca }}</a><h4></li>
				{% endfor %}
				</ul>
		  {% endfor %}
		  </ul>
	 {% else %}
		  <p>There are no subdiscipline areas defined for this subject area.</p>
	 {% endif %}

{% endblock %}
