{% extends 'base.html' %}

{% block title_extension %} - {{ school }}{% endblock %}

{% block content %}

	 <h2><a href='/schools/{{ school.id }}/'>{{ school.name }}</a></h2>
	 <h3><a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a></h3>

	 <p>This page allows you to edit the subdiscipline areas for {{ subject_area }}.</p>

	 {# General subject area competencies: #}
	 <h4>Competency areas for <a href='/subject_areas/{{ subject_area.id }}/'>{{ subject_area }}</a>:</h4>

	 <form method='post' action=''>
		  {% csrf_token %}
		  {{ sa_ca_formset.as_p }}
		  <input type='submit' value='Save Changes' />
	 </form>
	 
	 <p>Test sda: {{ test_sda }}
	 <form method='post' action=''>
		  {% csrf_token %}
		  {{ test_sda_ca_formset.as_p }}
		  <input type='submit' value='Save Changes' />
	 </form>


{% endblock %}
