<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Open Competencies{% block title_extension %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	 {% load staticfiles %}
	 <link href='{% static 'css/bootstrap.css' %}'  rel='stylesheet'>
	 
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href='{% static 'css/bootstrap-responsive.css' %}' rel="stylesheet">

	 <link href='{% static 'css/site_styles.css' %}' rel='stylesheet'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src='{% static 'js/html5shiv.js' %}'></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href='{% static 'ico/apple-touch-icon-144-precomposed.png' %}'>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href='{% static 'ico/apple-touch-icon-114-precomposed.png' %}'>
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href='{% static 'ico/apple-touch-icon-72-precomposed.png' %}'>
                    <link rel="apple-touch-icon-precomposed" href='{% static 'ico/apple-touch-icon-57-precomposed.png' %}'>
                                   <link rel="shortcut icon" href='{% static 'ico/favicon.png' %}'>

    <!-- Google Analytics code -->
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-29433314-8', 'opencompetencies.org');
		ga('send', 'pageview');

	 </script>
   

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'competencies:index' %}">Open Competencies</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'competencies:index' %}">Home</a></li>
              <li><a href="{% url 'competencies:schools' %}">Schools</a></li>

				  <!-- Authentication header links -->
				  {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                  <li><a href="{% url 'logout_view' %}">log out</a></li>
				  {% else %}
						<li><a href="{% url 'register' %}">register</a></li>
                  <li><a href="{% url 'login' %}">log in</a></li>
				  {% endif %}
				  


            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

		{% block content %}
		{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='{% static 'js/jquery.js' %}'></script>
    <script src='{% static 'js/bootstrap-transition.js' %}'></script>
    <script src='{% static 'js/bootstrap-alert.js' %}'></script>
    <script src='{% static 'js/bootstrap-modal.js' %}'></script>
    <script src='{% static 'js/bootstrap-dropdown.js' %}'></script>
    <script src='{% static 'js/bootstrap-scrollspy.js' %}'></script>
    <script src='{% static 'js/bootstrap-tab.js' %}'></script>
    <script src='{% static 'js/bootstrap-tooltip.js' %}'></script>
    <script src='{% static 'js/bootstrap-popover.js' %}'></script>
    <script src='{% static 'js/bootstrap-button.js' %}'></script>
    <script src='{% static 'js/bootstrap-collapse.js' %}'></script>
    <script src='{% static 'js/bootstrap-carousel.js' %}'></script>
    <script src='{% static 'js/bootstrap-typeahead.js' %}'></script>

  <div class="container my_footer">
	 <div class='row'>
		<div class='span6 text-center'><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><a href="http://opencompetencies.org">Open Competencies</a></span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</div>
		<div class='span6'><p class="text-center">Hosting generously provided by <a href="http://rackspace.com">Rackspace</a>.</p></div>
	 </div>
  </div>

  </body>
</html>
