/* Need to override bootstrap; requires very specific selectors. */
a.current_pathway, li.current_pathway, h1.current_pathway, h2.current_pathway,
h3.current_pathway, h4.current_pathway, h5.current_pathway {
	 color: green;
}

a.off_pathway, li.off_pathway, h1.off_pathway, h2.off_pathway,
h3.off_pathway, h4.off_pathway, h5.off_pathway {
	 color: #aaa;
}

.my_footer {
	 border-top: 1px solid #aaa;
	 margin-top: 50px;
	 padding-top: 10px;
	 color: #333;
}

/* lead sometimes has little space above */
.my_lead {
	 padding-top: 10px;
	 font-size: 22px;
}

/* lead is nice, but want a sub-version of lead */
.lead2  {
	 margin-bottom: 20px;
	 font-size: 18px;
	 font-weight: 100;
	 line-height: 25px;
}

/* boxed pieces of copy on a page */
div.feature_box {
	 margin: -1px;
	 padding: 8px;
	 border: 0px solid black;
}

.light_text {
	 color: #04859D;
}

.top_line {
	 padding-top: 25px;
	 border-top: 1px solid #bbb;
}

/* hero unit is a bit overkill */
.my_hero_unit {
	 padding: 25px;
	 border: 0px solid #333;
}

.my_hero_unit h1 {
	 font-size: 45px;
}

.problem_label {
	 font-size: 20px;
	 font-weight: bold;
}

.problem_text {
	 font-size: 16px;
}