/* Need to override bootstrap; requires very specific selectors. */
.my_footer {
	 border-top: 1px solid #aaa;
	 border-bottom: 1px solid #aaa;
	 margin-top: 100px;
	 margin-bottom: 25px;
	 padding-top: 10px;
	 color: #333;
}

/* lead sometimes has little space above */
.my_lead {
	 padding-top: 10px;
	 font-size: 22px;
}

/* lead is nice, but want a sub-version of lead */
.lead_2  {
	 margin-bottom: 20px;
	 font-size: 18px;
	 font-weight: 100;
	 line-height: 25px;
}

/* boxed pieces of copy on a page */
div.feature_box {
	 margin: -1px;
	 padding: 8px;
	 border: 0px solid black;
}

.light_text {
	 color: #04859D;
}

.top_line {
	 padding-top: 25px;
	 border-top: 1px solid #bbb;
}

/* hero unit is a bit overkill */
.my_hero_unit {
	 padding: 25px;
	 border: 0px solid #333;
}

.my_hero_unit h1 {
	 font-size: 45px;
}

/* a sub-hero unit, for sections lower on the page */
.my_hero_unit_2 {
	 padding: 15px;
	 border: 0px solid #333;
	 margin-bottom: 15px;
}

.oc_try_it {
	 background-color: #f7f7f7;
}

.problem_label {
	 font-size: 20px;
	 font-weight: bold;
}

.problem_text {
	 font-size: 16px;
}

.student_friendly_element {
	 padding-left: 10px;
	 color: navy;
}

.description_element {
	 padding-left: 10px;
	 color: darkgreen;
}

/* GSP-style pages */
.gsp_grid {
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin: 0px;
}

.summary_box {
	 margin: 2px;
	 padding: 10px;
	 border: 0px solid blue;
}

.grad_std_col {
	 background-color: #ccc;
}

.pi_col {
	 background-color: #eee;
}

.sda_col {

}

.edit_view_link {
	 margin-top: 20px;
}

.submit_sa_summary {
	 margin-top: 20px;
}

.delete_link {
	margin-left: 20px;
}

/* edit_sa_summary_order */
.ordering_box {
	 margin-left: -20px;
	 /* margin-bottom makes sure each new element clears arrows of element above */
	 margin-bottom: 20px;
	 border: 0px solid black;
}

.ordering_box_cas {
	 margin-left: 0px;
}

.ordering_box_sdas {
	 margin-left: 0px;
	 margin-top: 10px;
	 margin-bottom: -30px;
}

.up_arrow {
	 float: left;
}

.down_arrow {
	 float: left;
	 margin-top: 15px;
	 margin-left: -14px;
}

.up_arrow_sdas {
	 margin-top: -8px;
}

.down_arrow_sdas {
	 margin-top: 10px;
	 margin-left: -20px;
}

.ordering_element {
	 padding-left: 20px;
	 /*text-indent: -40px;*/
}

.ordering_element_sdas {
	 padding-left: 25px;
	 /*text-indent: -40px;*/
}

